/*body{
 background-color:#000;
}*/
/*#pagina{
    border-style:solid;
    background-color:#FF0;
}*/
/*#pagina div{
    border-style:solid;
}*/
#logo{
    background-image: url("../images/logo.jpg");
    height:8%;
    background-repeat:no-repeat;
}
#menu{
    background-color: transparent;
    text-align: center;
    border-style:solid;
    padding-top:8%;
}
#menu li{
    margin: 0px;
    /*background-color:#6A5ACD;*/
    background-color: transparent;
    /*background-image:url("../images/fondo3.jpg");*/
    background-size:150px 50px;
    background-repeat:no-repeat;
    list-style:none;
    font-size: 20px;
    font-weight:bold;
    display: inline-block;
}
#menu p{
    margin: 0;
    padding: 10px;
    color:#FFF;
    
}
#menu p:hover{
    background-image:url("../images/fondo.jpg");
    background-size:150px 50px;
    border-color:#000;
}

.menu_pricipal_activo{
    background-image:url("../images/fondo.jpg");
    background-size:150px 50px;
    border-color:#000;
    border-style:solid;
}
.submenu{
    position: absolute;
    visibility: hidden;
}

.submenu p{
    background-image:url("../images/fondo.jpg");
    background-size:150px 50px;
    background-repeat:no-repeat;
    display: block;
}
#pie_de_pagina{
  text-align:right;
  font-size:15px;
}
