body, #galeria, #videos{
display:inline-block;
}
p{
    text-align:center;
}
#galeria{
    border:10px groove black;
    width:500px; 
    height:300px;
}
#galeria div{
display:inline-block;
}
#imagen_principal{
    position:absolute;
    z-index:0;
    width:500px;
    height:300px;
}
#botones{
    display:inline;
    position:absolute;
    overflow:hidden;
    margin-top:270px;
    text-align:center;
    height:0;
    width:500px;
    transition-property:height; 
    transition-duration:2s;
    background-color:black;
    opacity:0.5;
}
#galeria:hover  #botones{
height:30px;
}
#videos{
    background-image:url("../images/borde.jpg");
    border:10px groove black;
    display:inline-block;
}
#videos h1{
   text-align:center;
}
#botones_video{
   text-align:center; 
}
#botones_video button{
padding:0 30px 0 30px;
margin:0 20px 0 20px;
}
#webgrafia{
    width:500px;
}
#webgrafia h1{
   text-align:center;
}
#webgrafia ul{
    display:inline-block;
}
#webgrafia li{
    list-style:none;
    border-bottom:solid white;
}
