#indice li {
    list-style:none;
}
.Botones {
    border:5px solid transparent;
    border-image:url(../images/borde.jpg) 30 30 stretch;
    width:110px;
    margin-top:10px;
    overflow:hidden;
    transition-property:width; 
    transition-duration:2s;
    -webkit-transition-property:width; 
    -webkit-transition-duration:2s;
}
#indice li{
    list-style:none;
}
.Resumen{
    position:relative;
    margin-top:0;
    margin-left:130px;
    width:0;
    height:0;
    overflow:hidden;
    opacity:0;
    transition-property:width, height, opacity, border;
    transition-duration:2s;
    -webkit-transition-property:width, height, opacity, border;/*Opera*/
    -webkit-transition-duration:2s;/*Opera*/
    background-color:white;
    border-style:solid transparent;
    border-radius:15px;
}

.Botones:hover + .Resumen{
    width:500px;
    height:100px;
    opacity:100;
    border-style:solid;
}
.Botones:hover{
    cursor:pointer;
}
